@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: gray;
  }

  main {
    flex: 1 0 auto;
  }

/*-- colour--*/
.nav-colour {
   background-color: #0a9c0a
}
a{
    color: black;
}

/*--fonts--*/
.welcome-message, .sign-up, .login, .profile {
    font-family: 'Petit Formal Script', cursive, sans-serif; 
}


.breakfast, .lunch, .dinner, .desserts{
    font-family: 'Petit Formal Script', cursive, sans-serif; 
    font-weight:bold;
    padding: 15px 15px;
    text-decoration: underline;
}

.dinner {
    font-family: 'Petit Formal Script', cursive, sans-serif;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 10px;
}
 
/*--homepage--*/
body{
    font-family: Roboto, sans-serif;
    font-size: large;
}
  
/*--homepage--*/
 .background-image{
   width: 100%;  
 }

 .welcome-message{
    text-align:center;
}

.cookie-pic, .breakfast-pic, .lunch-pic, .dinner-pic{
    width: 100%;
}
/*--change ths class later--*/
 .cookie-row{
     position: relative;
     text-align: center
 }

/*--sign Up page--*/




/*--media queries--*/

@media only screen and (min-width: 992x) {
    .background-image{
        height: 80vh;
    }
}

@media only screen and (min-width: 600px) {
    .background-image{
        height: 80vh;
    }
}


