@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: gray;
  }

  main {
    flex: 1 0 auto;
  }

/*--fonts--*/
.welcome-message{
    font-family: 'Petit Formal Script', cursive, sans-serif; 
}
body{
    font-family: Roboto, sans-serif;
    font-size: large;
}
  
/*--homepage--*/
 .background-image{
   width: 100%;  
 }

 .welcome-message{
    text-align:center;
}


/*--media queries--*/

@media only screen and (min-width: 992x) {
    .background-image{
        height: 80vh;
    }
}

@media only screen and (min-width: 600px) {
    .background-image{
        height: 80vh;
    }
}


