body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: gray;
  }

  main {
    flex: 1 0 auto;
  }
 .background-image{
   width: 100%;  
 }

/*--media queries--*/

@media only screen and (min-width: 992x) {
    .background-image{
        height: 80vh;
    }
}

@media only screen and (min-width: 600px) {
    .background-image{
        height: 80vh;
    }
}


