{% extends 'base.html' %}
{% block content %}
<div class="container">
<!-- layout inspired by  ajgoward-->
	<div class="row">
		<div class="">
			<h1 class="add-recipe col s12 center align">Add Your Recipe Here!</h1>
		</div>
	</div>
	<form class="col s12"  method="POST" action="{{ url_for('submit_recipes') }}">
        <div class="row">
			<div class="input-field col s6">
				<i class="material-icons prefix">assignment</i>
				<input id="recipe_name" name="recipe_name" type="text" class="validate">
				<label for="icon_prefix" class="black-text">Recipe Name</label>
			</div>
			<div class="input-field col s6">
				<i class="material-icons prefix ">hourglass_empty</i>
				<input id="time_to_cook" name="time_to_cook" type="text" class="validate">
				<label for="icon_prefix " class="black-text">Cooking Time</label>
			</div>
			<div class="input-field col s6">
				<i class="material-icons prefix">query_builder</i>
				<input id="prep_time" name="prep_time" type="text" class="validate">
				<label for="icon_prefix" class="black-text">Prep Time</label>
			</div>
			<div class="input-field col s6">
				<i class="material-icons prefix">restaurant</i>
				<input id="serves" name="serves" type="text" class="validate">
				<label for="icon_prefix " class="black-text">Serves</label>
			</div>
		</div>
        <div class="row">
			<div class="input-field col s12">
				<select  name="category_name" id="category_name" class="black-text">

			               <option value="" disabled selected>Choose your category</option>
                           {% for category in categories %}
			               <option value="{{ category._id }}">{{ category.name }}</option>
			               {% endfor %}
			            </select>
			</div>
        </div>
        <!--Image URL form copied ajgoward-->
        <div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">subject</i>
				<textarea name="ingredients" id="ingredients" class="materialize-textarea"></textarea>
				<label for="icon_telephone" class="black-text">Ingredients</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">menu</i>
				<textarea name="method" id="method" class="materialize-textarea"></textarea>
				<label for="icon_telephone" class="black-text">Method</label>
			</div>
		</div>
        <div class="row center m9 align ">
			<div class="input-field col s8">
				<textarea name="image" id="image" class="materialize-textarea"></textarea>
				<label for="icon_telephone" class="black-text">Image URL</label>
			</div>
			<div class="col  s4">
				<a class="waves-effect waves-light btn modal-trigger green"
					href="#modal1"><i class="material-icons green">lightbulb_outline</i></a>
				<div id="modal1" class="modal">
					<div class="modal-content">
						<h4 class="headers">Help</h4>
						<ol class="black-text">
							<li> Search For images of Your dish</li>
							<li> Right click the image </li>
							<li> Click copy image address </li>
							<li> Paste into the form </li>
						</ol>
					</div>
					<div class="modal-footer">
						<a href="#!" class="btn-floating btn-medium modal-close waves-effect waves-light green">Great!</a>
					</div>
				</div>
			</div>
		</div>
        <div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">http</i>
				<textarea name="credit" id="credit" class="materialize-textarea"></textarea>
				<label for="icon_telephone" class="black-text">Credit</label>
			</div>
		</div>
        <div class="row">
			<div class=" add-button col s6 m6 offset-m5">
				<button class="btn waves-effect waves-Green" type="submit" name="action">Add Recipe!</button>
			</div>
		</div>
	</form>
</div>

{% endblock %}