{% extends 'base.html' %}
{% block content %}

<h1 class=" breakfast-catergory center-align"> Breakfast </h1>
<div class="container">
	<div class="row">
    
        <!-- front of the card -->
		<div class="card col s12 m4 ">
			<div class="card-image waves-effect waves-block waves-light">
			    <img class="activator" src="" alt="">
            </div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                <p class="activator"></p>
			</div>
                <!-- back of the card  (layout copied from cecilia binck -->
				<div class="card-reveal">
            <div class="row col s12"><h5 class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></h5>
            </div>
				<div class="row col s12 card-middle">
					<div class="col s4"> <i class="material-icons prefix light-green">query_builder</i>
						<p></p>
						<p>Prep</p>
					</div>
					<div class="col s4"> <i class="material-icons prefix light-green">hourglass_empty</i>
						<p></p>
						<p>Cook</p>
					</div>
					<div class="col s4"> <i class="material-icons prefix light-green">restaurant</i>
						<p></p>
						<p>Serves</p>
					</div>
				</div>
                <div class="card-end col s12">
                    <p></p> 
                </div>
                <div class="button col s12 center-align">
                    <a href="#" class="waves-effect waves-light open btn btn_small light-green">Open Recipe</a> 
                </div>
			</div>
			</div>
		</div>
	</div>



{% endblock %}