{% extends 'base.html' %}
{% block content %}
<div class="parallax">
	<img class="background-image" src="static/images/vegan-picture.jpg" alt="vegan lunch">
</div>
	<div>
		<h1 class="welcome-message">Welcome to everything Vegan!</h1>

		<div class=" container">
			<div class="row ">
				<div class="col s12  welcome-text">
					<p>
						Welcome to Vegan Planet, where you can find different types of vegan recipes to make. You can
						also,
						add your own recipes that you've created on made during your vegan journey.You can find
						alternatives
						of all the different reciped you used to ejnoy before you journey and share with the vegan
						community!
					</p>
					<br>
					<p>Sign Up to get the full experience out webisite has to offer</p>
				</div>
			</div>
			<!--Search bar-->
			<div class="row">
				<form class="col s12">
					<div class="row center-align">
						<div class="input-field col s12 center search-bar">
							<input id="query" name="query" type="text" class="validate">
							<label for="query">Search Recipes </label>
							<div class="col s12">
								<button class="btn-large waves-light green search"><i class="material-icons">search</i></button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}