{% extends 'base.html' %}
{% block content %}

<div class="parallax">
	<img class="background-image" src="static/images/vegan-picture.jpg" alt="vegan lunch">
</div>
    <h3 class="center-align login">Login</h3>
	<div class="container">
		<form class="col s12" method="POST" action="{{ url_for('register') }}">
            <!--enter username-->
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">check</i>
					<input id="username" name="username" type="text" minlength="5" 
                       maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
					<label for="username">Username</label>
				</div>
			</div>
            <!--enter password-->
			<div class="row">
				<div class="input-field col s12">
                    <i class="material-icons prefix">vpn_key</i>
					<input id="password" name="password" type="password" minlength="5" 
                       maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
					<label for="password">Password</label>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
				    <button type="submit" class="col s12 m5 offset-m4 btn-large green text-shadow">
                       Login <i class=""></i>
                    </button>
	            </div>
			</div>
		</form>
       <!--taken from code on institute task-manager tutorial-->
        <div class="row">
        <div class="col s12">
            <p class="center-align">
               New Here?
                <a href="{{ url_for('register') }}" class="light-green-text ">Sign Up! </a>
            </p>
        </div>
	</div>

{% endblock %}