{% extends 'base.html' %} {% block content %}
<h1 class="center-align">Recipe</h1>

<div class="container">
<!--layout inspired by cecilia binck-->
       <div>
          <h2 class= "center-align recipe-name"> </h2>
       </div>
       <!--row for recipe image, cooking time -->
		<div class="row">
			<div class="col s12 m6 left">
				<img class="card-img card-panel col s12" src="{{recipe.image}}" alt="{{recipe.recipe_name}}">
		    </div>
			<div class=" card-panel  col s12 m6 right">
				<p class="prep-time"><i class="material-icons prefix">query_builder</i>Prep Time:{{recipe.prep_time}} </p>
				<p class="cook-time"><i class="material-icons prefix">hourglass_empty</i>Cook Time:{{recipe.time_to_cook}} </p>
				<p class="serve"><i class="material-icons prefix">restaurant</i>Serves:{{recipe.serves}} </p>
                <p class="card-panel recipe_description">{{recipe.recipe_description}}</p>
			</div>
		</div>
		<div class=" card-panel row">
			<!-- white middle rows -->
			<div class="col middle-left s12 m6">
				<h4 class="center-align">Ingredients</h4>
				<ul id="ingredient">{{recipe.ingredients}}</ul>
			</div>
			<div class="col middle-right s12 m6">
				<h4 class="center-align">Method</h4>
				<ul id="methods">{{recipe.method}}</ul>
			</div>
		</div>
    <div class="row ">
    <!--if statment to return back to each catefgory page  -->
        <div class="bottom col s12">  
        {% if recipe.categor_name == 'Dinner' %}
          <a href="{{ url_for('breakfast') }}" class="go_back black-text">Go Back</a>
        {% elif recipe.category_name == 'Breakfast' %}
          <a href="{{ url_for('breakfast') }}" class="go_back black-text">Go Back</a>
        {% elif recipe.category_name == 'Lunch' %}
          <a href="{{ url_for('lunch') }}" class="go_back black-text">Go Back</a>
        {% elif recipe.category_name == 'Dinner' %}
          <a href="{{ url_for('dinner') }}" class="go_back black-text">Go Back</a>
        {% elif recipe.category_name == 'Dessert' %}
          <a href="{{ url_for('dessert') }}" class="go_back black-text">Go Back</a>
        {%  endif %}
        </div> 
    </div>
</div>

{% endblock %}