{% extends 'base.html' %}
{% block content %}
    <div class="parallax">
	    <img class="background-image" src="static/images/vegan-picture.jpg" alt="vegan lunch">
    </div>
	<div class="row">
		<h1 class="welcome-message">Search Result</h1>
	</div>
		<div class=" container">
			
			<!--Search bar-->
			<div class="row">
				<form class="col s12"  action="{{ url_for('search') }}" method="POST">
					<div class="row">
						<div class="input-field col m8 offset-m2 s12 center search-bar">
							<input id="query" name="query" type="text" class="validate" minlength="3">
							<label for="query">Search Recipes </label>
							<div class="col m8 s12">
								<button class=" col m6 offset-m6  s4 offset-s4 btn-large waves-light green search"><i class="material-icons">search</i></button>
							</div>
						</div>
					</div>
				</form>
			</div>

		</div>


{% endblock %}